<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.shef.oak.cloudedminds">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudedMinds"
        android:usesCleartextTraffic="true">
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".Login">
        </activity>
        <activity android:name=".Diary" />
        <activity android:name=".About" />
        <activity android:name=".TheEnd" />
        <activity android:name=".Acceptance" />
        <activity android:name=".Mindfulness2" />
        <activity android:name=".Mindfullness" />
        <activity android:name=".Rumination" />
        <activity android:name=".ChangeIt2" />
        <activity android:name=".ChangeIt" />
        <activity android:name=".CheckIt5" />
        <activity android:name=".CheckIt4" />
        <activity android:name=".CheckIt3" />
        <activity android:name=".CheckIt2" />
        <activity android:name=".CheckIt" />
        <activity android:name=".CatchIt2" />
        <activity android:name=".CatchIt" />
        <activity android:name=".IntroScreen" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>